node_modules
.DS_Store
dist
dist-ssr
*.local
.env*
!.env.local.example
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.claude

# typescript
*.tsbuildinfo

# clerk configuration (can include secrets)
/.clerk/
.gstack/
